.admin-header{
    height: 60px;
    line-height: 60px;
    background: hsl(209, 100%, 55%);
    color: #fff;
    font-size: 20px;
}
.admin-content{
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
}
.ant-menu-root.ant-menu-inline{
    height: 100%;
    float: left;
}
.admin-children-con{
    float: left;
    width: 82%;
}
