.admin-header{
    height: 60px;
    line-height: 60px;
    background: hsl(209, 100%, 55%);
    color: #fff;
    font-size: 20px;
}
.logo{
    padding: 40px 10px 20px;
    box-sizing: border-box;
    text-align: center;
    background: #001529;
    color: #fff;
    font-size: 16px;
}
.admin-nav{
    width: 200px;
    height: 100vh;
    overflow: hidden;
}
