.banner{
    width: 35%;
    height: 100vh;
    float: left;
    position: relative;
    background-position: left top, center center;
    background: url('/assets/images/bg.png') ;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100% 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 80px;
    box-sizing: border-box;
}
.banner .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    text-align: right;
}
.banner .top .name>a{
    color: #fff;
    font-size: 20px;
    border-bottom: dotted 1px;
}
.banner .top .name-title{
    color: rgba(255,255,255,.7);
    font-size: 20px;
    text-align: right;
    margin-top: 5px;
}
.footer{
    width: 100%;
}
.footer .icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.footer .icons>li{
    margin-left: 10px;
}
.icon>img{
    width: 26px;
    height: 26px;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    color: rgba(255,255,255,.7);
    font-size: 12px;
}
.copyright>a{
    border-bottom: dotted 1px;
    color: rgba(255,255,255,.9);
    margin-left: 5px;
}